recursive-include wagtail_content_import/templates *
recursive-include wagtail_content_import/pickers/google/templates *
recursive-include wagtail_content_import/pickers/google/static *
recursive-include wagtail_content_import/pickers/microsoft/templates *
recursive-include wagtail_content_import/pickers/microsoft/static *
recursive-include wagtail_content_import/static *
include wagtail_content_import/parsers/test_document.json
