recursive-include wagtail_content_import/templates *
recursive-include wagtail_content_import/pickers/google/templates *
recursive-include wagtail_content_import/pickers/google/static *
include wagtail_content_import/parsers/test_document.json
