{% extends "wagtailadmin/pages/create.html" %}
{% load i18n %}
{% load wagtailadmin_tags wagtailcontentimport_tags %}

{% block extra_footer_actions %}
{# TODO Generate these buttons from the pickers registry #}
{% if content_type.model_class.can_import %}
    <li style="float: right">
        <a href="#" data-content-import-picker="google" data-create-page-url="{% url 'wagtailadmin_pages:add' content_type.app_label content_type.model parent_page.id %}" class="button icon icon-site">Import from Google Documents</a>
    </li>
{% endif %}
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    {% wagtailcontentimport_pickerjs %}
{% endblock %}
