{% if default_picker %}
    <li class="actions import-container content-import">
        <div class="dropdown dropup dropdown-button match-width">
            <a href="#" data-content-import-picker="{{ default_picker.name }}" data-create-page-url="{% url 'wagtailadmin_pages:add' content_type.app_label content_type.model parent_page.id %}" class="content-import button button-longrunning"><i class="icon {{ default_picker.icon }} content-import docs-blue"></i>Import from {{ default_picker.verbose_name }}</a>
            {% if picker_options %}
                <div class="content-import dropdown-toggle icon icon-arrow-up"></div>
                <ul>
                    {% for picker in picker_options %}
                        <li>
                            <a href="#" data-content-import-picker="{{ picker.name }}" data-create-page-url="{% url 'wagtailadmin_pages:add' content_type.app_label content_type.model parent_page.id %}" class="content-import button button-longrunning"><i class="icon {{ picker.icon }} content-import docs-blue"></i>Import from {{ picker.verbose_name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </li>
{% endif %}
